@import "./colors";

$main-pad: 20%;
//Templates
@mixin h0($color) {
  font-size: 70px;
  line-height: 80px;
  color: $color;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
@mixin list($color) {
  font-family: "Poppins", serif;
  font-weight: bold;
  color: $color;
  font-size: 19px;
  line-height: 26px;
}

//Headers
@mixin h0-blue {
  @include h0($product);
}
@mixin h0-black {
  @include h0($text);
}
@mixin description-text {
  font-size: 30px;
  line-height: 40px;
  color: $text;
  font-family: "Roboto";
  font-weight: 400;
}
@mixin h2 {
  font-size: 30;
  line-height: 40px;
  color: $text;
  font-family: "Poppins", serif;
  font-weight: bold;
}
@mixin h3 {
  font-size: 19px;
  line-height: 26px;
  color: $text;
  font-family: "Poppins", serif;
  font-weight: bold;
}
@mixin h4 {
  font-size: 17px;
  color: $text;
  font-family: "Roboto", serif;
  font-weight: regular;
}
p {
  font-size: 17px;
  color: $text;
  font-family: "Roboto", serif;
  font-weight: 300;
}

//Lists
@mixin list {
  @include list($text);
}
@mixin list-active {
  @include list($product);
}

//font-family: 'Poppins', sans-serif;
//font-family: 'Roboto', sans-serif;
