.who {
  margin-left: $main-pad;
  margin-top: 14rem;
  &__carousel {
    display: flex;
    &-item {
      width: 20%;
      margin-right: 13rem;
    }
  }
  &__item {
    &-title {
      @include h2;
    }
  }
}
